<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Maple's Portfolio</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/ddr2bew.css">
</head>

<body>
    <div id="header">
        <div id="logoContainer">
            <img src="../static/img/logo.svg" alt="maple" height="50px">
        </div>
        <div id="menu">
            <div class="menuContents">introduction</div>
            <div class="menuContents">works</div>
            <div class="menuContents" id="adminBtn">admin</div>
        </div>
    </div>
</body>

</html>